.AdpgDmain{
height: 240px;
width: 100%;
background-color: rgb(242, 235, 235);

}

.addDiv{
position: absolute ;
height: 200px;
width: 300px;
border-color: black;
background-color: white;
margin: 20px 0px 0px 180px;
box-shadow: 0px 0px 1px 1px ;
border-color:rgb(30, 25, 25) ;

}

.addDiv2{
    position: absolute;
height: 200px;
width: 600px;
background-color: white;
margin: 20px 0px 0px 480px;
box-shadow: 1px 0px 1px 01px ;
border-color:rgb(30, 25, 25) ;

}

.addimg2{
margin-bottom: 30px;
}