.AdpgDmain{
height: 240px;
width: 100%;
background-color: rgb(242, 235, 235);

}

.addDiv{
position: absolute ;
height: 200px;
width: 300px;


background-color: white;
margin: 20px 0px 0px 180px;}

.addDiv2{
    position: absolute;
height: 200px;
width: 600px;
background-color: white;
margin: 20px 0px 0px 480px;
}

.addimg2{
margin-bottom: 30px;
}