.AdpgDmain{
height: 240px;
width: 100%;
background-color: rgb(12, 204, 243);
}

.addDiv{
position: absolute;
height: 200px;
width: 800px;
background-color: rgb(90, 103, 245);
margin: 20px 0px 0px 250px;}